.full-height-card {
  height: 100%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.profile-avatar {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100px; 
  height: 100px; 
}

.profile-avatar img,
.default-avatar-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h2 {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 1em;
}
ion-content {
  padding-bottom: 56px;
}

.edit-button {
  --background: #00915b;
  margin-top: 1em;
  border-radius: 25px; 
  color: #fff;
  height: 50px; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  --background-activated: #00915b;
}

.cerrar {
  --color: #00915b; 
  --background: 00915b;
}

