<ion-header>
  <ion-buttons slot="end">
    <ion-button class="cerrar" (click)="cerrarSesion()" fill="clear">
      <ion-icon name="log-out-outline"></ion-icon>
      Salir
    </ion-button>
  </ion-buttons>

</ion-header>

<ion-content class="background">
  <ion-card-content class="background">
    <div class="profile-container">

      <img src="assets/icon/healthy1.png" alt="Tu logo" class="logo-img">

      <ion-card class="background">
        <h2>Información Personal</h2>

        <ion-item>
          <ion-label position="floating">Nombre usuario</ion-label>
          <ion-input [(ngModel)]="name" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="email" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Género</ion-label>
          <ion-input [(ngModel)]="gender" readonly></ion-input>
        </ion-item>
      </ion-card>
    </div>

    <ion-button expand="block" class="edit-button" (click)="abrirModalEditarPerfil()">Editar Perfil</ion-button>

    <ion-button expand="block" class="edit-button" (click)="openModal()">Cambiar contraseña</ion-button>
  </ion-card-content>
</ion-content>