<ion-header>
  <ion-toolbar class=" txt">
    <ion-title>Editar Alarma</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class=" txt">
  <div class="record">
    <ion-card class="floating-card">
      <form (ngSubmit)="save()" [formGroup]="alarmForm">
        <ion-item class=" txt">
          <ion-label>Tipo</ion-label>
          <ion-select formControlName="type" placeholder="Seleccionar Tipo">
            <ion-select-option value="comida">Comida</ion-select-option>
            <ion-select-option value="sueño">Sueño</ion-select-option>
            <ion-select-option value="actividad_fisica">Actividad Física</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item class=" txt">
          <ion-label>Hora</ion-label>
          <input formControlName="time" type="time" name="selectedTime">
        </ion-item>
    
        <ion-item class=" txt">
          <ion-button class="bt txt1" expand="full" (click)="openNotificationSettings()">Seleccionar Sonido</ion-button>
        </ion-item>
        <ion-item class=" txt">
          <ion-label>Sonido: </ion-label>
          <ion-input [value]="selectedSound" readonly></ion-input>
        </ion-item>
    
        <ion-item class=" txt">
          <ion-label>Repetir</ion-label>
          <ion-toggle formControlName="repeat"></ion-toggle>
        </ion-item>
        
        <ion-list *ngIf="alarmForm?.get('repeat').value">
          <ion-item *ngFor="let day of daysOfWeek" class=" txt">
            <ion-label>{{ day }}</ion-label>
            <ion-checkbox [formControlName]="day"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-button expand="block" class="bt txt1" type="submit" [disabled]="loading" [disabled]="!alarmForm.valid">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Guardar</span>
        </ion-button>
      </form>
    </ion-card>
  </div>
  
</ion-content>
