<ion-content [fullscreen]="true" class="login-content">
  <div class="background-overlay"></div> 
  <div class="logo">
    <img src="assets/icon/healthy1.png" alt="Tu logo" class="logo-img">
  </div>

  <div class="login-container">
    <div class="login-box">
     
      <div class="form-container">
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" type="email" name="email" placeholder="" required></ion-input>
        </ion-item>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <ion-button expand="block" class="signup-button" (click)="resetPassword()" [disabled]="loading">
          Enviar Correo
        </ion-button>
        <ion-button expand="block" color="medium" (click)="goToLoginPage()">Volver al Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<style>
.error-message {
  color: red;
  margin-top: 10px;
}
</style>
