<ion-content [fullscreen]="true" class="login-content">
  <h1 class="page-title">HealthyWay</h1>
  <div class="login-container">
    <div class="login-box">
      <div class="tabs">
        
        <button class="active">Iniciar Sesión</button>
        <button ion-button color="primary" (click)="goToRegisterPage()">Registrarse</button>
      </div>
      <div class="form-container">
        <ion-item>
          <ion-label position="stacked" color="light">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="light">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        
        <ion-button expand="full" class="signin-button" (click)="login()">Iniciar</ion-button>
      </div>

      <a href="#" class="forgot-password">Recordar Contraseña</a>
    </div>
  </div>

<div class="container">
    <ion-card class="container">
      <ion-card-content>
        <div>
          <h2 class="text">Conecta con</h2>
        </div>
        <div class="social">
          <ion-button class="btn-fb">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="btn-tw">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button class="btn-go">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
</div>
  
</ion-content>
