<ion-content [fullscreen]="true" class="login-content">
  <div class="background-shape"></div>

  <div class="logo">
    <img src="assets/icon/healthy1.png" alt="Tu logo" class="logo-img">
  </div>

  <div class="login-container">
    <div class="login-box">
      <div class="form-container">
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" type="email" name="email" placeholder="" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password" placeholder="" required></ion-input>
        </ion-item>
        <ion-button expand="block" class="login-button" (click)="login()">Iniciar Sesión</ion-button>
      </div>
      <ion-button expand="block" class="forgot-password-button" (click)="goToPasswordResetPage()">Olvidé mi contraseña</ion-button>
    </div>
  </div>
</ion-content>
