ion-card {
  margin-bottom: 20px;
}

canvas {
  width: 100% !important;
  height: 300px !important;
}


ion-content {
  --padding-bottom: 56px;
 
}.eje-button {
  --background: #00915b;
  margin-top: 1em;
  border-radius: 25px; 
  color: #fff;
  height: 50px; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  --background-activated: #00915b;
}