  <ion-content class="record">
  <div class="bt1">
    <ion-buttons class="button-container">
      <ion-button class="large-button" slot="start" color="primary" (click)="openModal()"><ion-icon name="add-circle"></ion-icon></ion-button>
      <ion-button class="large-button" slot="start" color="danger" (click)="toggleCheckboxes()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="deleteAllAlarms()" class="red ">
        Borrar todo
      </ion-button>
    </ion-buttons>
  </div>
    
    <!-- List of Alarms -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Lista de Recordatorios</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <div *ngIf="!alarms || alarms.length === 0">
          <h1 class="title">No hay Recordatorios</h1>
        </div>
        <div *ngIf="alarms">
        <ion-item *ngFor="let alarm of alarms"  class="box">
          <ion-checkbox *ngIf="showCheckboxes" slot="start" (click)="toggleSelection(alarm)"></ion-checkbox>
          <ion-label class="title1">
            {{ alarm.type | titlecase }} - {{ alarm.time }}
            <p *ngIf="alarm.repeat">Repetir: 
              <ng-container *ngFor="let day of alarm.daysOfWeek">
                <span>{{ day }} </span>
              </ng-container>
            </p>
          </ion-label>
          <ion-button slot="end" color="tertiary" (click)="editAlarm(alarm)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-toggle slot="end" [(ngModel)]="alarm.enabled" (ionChange)="toggleEnabled(alarm)"></ion-toggle>
        </ion-item>
      </div>
      <ion-button *ngIf="showCheckboxes && getSelectedIds().length > 0" expand="full" color="danger" (click)="deleteMultipleAlarms(getSelectedIds())">Eliminar Seleccionadas</ion-button>
      </ion-card-content>
    </ion-card>

 

</ion-content>

<style>
  .fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other elements */
  }

  ion-content {
    padding-bottom: 56px; /* Footer height to prevent content being hidden behind it */
  }

  ion-card {
    background:  #00915b; /* Green theme background */
    border-radius: 15px;

  }
</style>
