<ion-header>
  <ion-toolbar class="record txt">
    <ion-title>Registro de sueño</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="record txt">
  <form (ngSubmit)="saveSueno()" [formGroup]="suenoForm">
    <ion-item class="record txt">
      <ion-input formControlName="time" type="number" min="0" max="24" placeholder="Horas dormidas"></ion-input>
    </ion-item>

    <ion-button class="bt txt1" expand="full" type="submit" [disabled]="!suenoForm.valid">Guardar Alarma</ion-button>
  </form>
</ion-content>
