<ion-header>
  <ion-toolbar class="record txt">
    <ion-title>Registro de sueño</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="record txt">
  <form (ngSubmit)="saveSueno()" [formGroup]="suenoForm">
    <ion-item class="record txt">
      <ion-input formControlName="time" type="number" min="0" max="24" placeholder="Horas dormidas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="customDate" type="date" placeholder="Horas dormidas"></ion-input>
    </ion-item>
    <ion-button class="bt txt1" expand="full" type="submit" [disabled]="loading" [disabled]="!suenoForm.valid" >
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">Guardar</span>
    </ion-button>
  </form>
</ion-content>
<style>
.contenedor-texto {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 10vh; /* Altura total de la vista */
  padding: 20px; /* Espacio alrededor del contenido */
}

.texto-sutil {
  color: #b9b9b9; /* Color sutil */
  font-size: 16px; /* Tamaño de fuente */
  max-width: 90%; /* Ancho máximo del texto */
  margin: auto; /* Centra el texto horizontalmente dentro del contenedor */
}
</style>  