<ion-header>
  <ion-toolbar>
    <ion-title>Recomendaciones de Ejercicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-label>
        <h2>{{ category.name }}</h2>
        <ion-row>
          <ion-col size="12" size-md="6" *ngFor="let exercise of category.exercises">
            <ion-card class="exercise-card">
              <img [src]="exercise.image" alt="Exercise Image" class="exercise-image">
              <ion-card-content class="exercise-details">
                <h3 class="exercise-name">{{ exercise.name }}</h3>
                <p class="exercise-description">{{ exercise.description }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
