<ion-header>
  <ion-toolbar>
    <ion-title>Recomendaciones de Ejercicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="background" *ngFor="let category of categories">
    <ion-label>
      <ion-col *ngFor="let exercise of category.exercises">
        <ion-card class="floating-card">
          <img [src]="exercise.image" alt="Exercise Image" class="exercise-image">
          <ion-card-content>
            <h3 class="exercise-name">{{ exercise.name }}</h3>
            <p class="exercise-description">{{ exercise.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-label>
  </div>
</ion-content>