
<ion-app>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Seleccionar Dieta</ion-label>
        <ion-select placeholder="Seleccionar Tipo de Dieta" (ionChange)="guardarTipoDieta($event)">
          <ion-select-option value="weight_loss">Pérdida de Peso</ion-select-option>
          <ion-select-option value="muscle_gain">Ganancia de Músculo</ion-select-option>
          <ion-select-option value="maintenance">Mantenimiento</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Seguimiento Nutricional</ion-label>
        <ion-button expand="block" routerLink="/nutritional-tracking">Registrar Comidas</ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Recetas Saludables</ion-label>
        <ion-button expand="block" (click)="openModal()">Ver Recetas</ion-button>
      </ion-item>
      
    </ion-list>
  </ion-content>


</ion-app>
<ion-footer class="fixed-footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="comidas" routerLink="/comidas">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Comidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recordatorios" routerLink="/recordatorios">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Recordatorios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seguimiento" routerLink="/seguimiento">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Seguimiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfíl</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>


<style>
  .fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }

  ion-content {
    padding-bottom: 56px; /* Altura del footer para evitar que el contenido quede oculto debajo del footer */
  }
</style>
