<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userProfile">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="userProfile.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-select [(ngModel)]="userProfile.gender" interface="popover">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Femenino">Femenino</ion-select-option>
      <ion-select-option value="Otro">Otro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="saveChanges()">Guardar Cambios</ion-button>

  <!-- Añadir IonAlert para errores -->
  <ion-alert
    [isOpen]="showError"
    header="Error"
    message="{{ errorMessage }}"
    buttons="OK"
    (didDismiss)="showError = false">
  </ion-alert>
</ion-content>