<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Receta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <ion-card class="floating-card">
      <form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked">Nombre de la Receta</ion-label>
          <ion-input formControlName="nombre_receta" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Porciones</ion-label>
          <ion-input type="number" formControlName="porciones" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tiempo de Elaboración</ion-label>
          <ion-input formControlName="tiempo_elaboracion" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ingredientes</ion-label>
          <ion-select formControlName="ingredientes" multiple="true" interface="alert">
            <ion-select-option *ngFor="let ingrediente of availableIngredients" [value]="ingrediente">
              {{ ingrediente.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tipo de Dieta</ion-label>
          <ion-select formControlName="tipo_dieta" placeholder="Seleccionar Tipo de Dieta">
            <ion-select-option value="weight_loss">Pérdida de Peso</ion-select-option>
            <ion-select-option value="muscle_gain">Ganancia de Músculo</ion-select-option>
            <ion-select-option value="maintenance">Mantenimiento</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Forma de Cocinar</ion-label>
          <ion-textarea formControlName="forma_cocinar" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Imagen</ion-label>
          <input type="file" (change)="onFileSelected($event)" required>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!recetaForm.valid">Registrar Receta</ion-button>
      </form>
    </ion-card >
  </div>
</ion-content>
