<ion-header>
  <ion-toolbar>
    <ion-title>Recetas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card *ngIf="receta">
  <ion-card-header>
    <ion-card-title>{{ receta.nombre_receta }}</ion-card-title>
    <ion-card-subtitle>{{ receta.calorias }} calorías | {{ receta.tiempo_elaboracion }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-img [src]="receta.image" alt="Imagen de {{ receta.nombre_receta }}"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>Porciones: {{ receta.porciones }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Volumen por porción: {{ receta.volumen_porcion }}</ion-label>
      </ion-item>
      <ion-card-title>Ingredientes</ion-card-title>
      <ion-item *ngFor="let ingrediente of receta.ingredientes">


        <ion-label>
          {{ ingrediente.nombre }} - {{ ingrediente.cantidad }}
          <p>Proteínas: {{ ingrediente.proteinas }}g, Carbohidratos: {{ ingrediente.carbohidratos }}g, Grasas: {{ ingrediente.grasas }}g, Fibra: {{ ingrediente.fibra }}g, Azúcares: {{ ingrediente.azucares }}g, Sodio: {{ ingrediente.sodio }}mg</p>
          <p>Omega 3: {{ ingrediente.monoacidos.omega3 }}g, Omega 6: {{ ingrediente.monoacidos.omega6 }}g</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Forma de cocinar:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Forma de cocinar: {{ receta.forma_cocinar.join('. ') }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Vitaminas: {{ receta.vitaminas.join(', ') }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Nutrientes Totales:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Proteínas Totales: {{ receta.nutrientes_totales.proteinas_totales }}g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Carbohidratos Totales: {{ receta.nutrientes_totales.carbohidratos_totales }}g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Grasas Totales: {{ receta.nutrientes_totales.grasas_totales }}g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fibra Total: {{ receta.nutrientes_totales.fibra_total }}g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Azúcares Totales: {{ receta.nutrientes_totales.azucares_totales }}g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sodio Total: {{ receta.nutrientes_totales.sodio_total }}mg</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Omega 3 Total: {{ receta.nutrientes_totales.monoacidos_totales.omega3 }}g</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Omega 6 Total: {{ receta.nutrientes_totales.monoacidos_totales.omega6 }}g</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
