

<ion-content [fullscreen]="true" class="login-content">
  <h1 class="page-title">HealthyWay</h1>
  <div class="login-container">
    <div class="login-box">
      <div class="tabs">
        <button ion-button color="primary" (click)="goToLoginPage()">Iniciar Sesión</button>
        <button class="active" ion-button color="primary" >Registrarse</button>
      </div>

      <div class="form-container">
        <ion-item>
          <ion-label position="stacked" color="light">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="light">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="light">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" placeholder=""></ion-input>
        </ion-item>
      </div>
      <ion-button expand="full" class="signin-button" (click)="register()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>














