<ion-content [fullscreen]="true" class="login-content">
  <div class="logo">
    <img src="assets/icon/healthy1.png" alt="Tu logo" class="logo-img">
  </div>
  <div class="login-container">
    <div class="login-box">
      <div class="tabs">
        <button ion-button color="primary" (click)="goToLoginPage()">Iniciar Sesión</button>
        <button class="active" ion-button color="primary">Registrarse</button>
      </div>

      <div class="form-container">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="name" type="text" name="name" required></ion-input>
        </ion-item>
        <div *ngIf="nameError" class="error-message">{{ nameErrorMessage }}</div>
        
        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input [(ngModel)]="age" type="number" name="age" required (input)="validateAge($event)"></ion-input>
        </ion-item>
        <div *ngIf="ageError" class="error-message">La edad debe ser un número válido y no mayor a 99.</div>

        <ion-item>
          <ion-label>Género</ion-label>
          <ion-select [(ngModel)]="gender" interface="popover" required>
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Femenino">Femenino</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="genderError" class="error-message">El género es obligatorio.</div>
        
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input>
        </ion-item>
        <div *ngIf="emailError" class="error-message">El correo electrónico no es válido.</div>
        
       <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" [type]="passwordType" name="password" required></ion-input>
      <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
    <div *ngIf="passwordError" class="error-message">
      La contraseña debe contener entre 8 y 16 caracteres, incluyendo letras, números y al menos un carácter especial.
    </div>
      </div>

      <ion-button expand="block" class="signin-button" (click)="register()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>

<style>
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
  }
</style>
